body {
    font-family: monospace;
    background-color: #f4f4f4;
    overflow: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.hjemIkon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hjemIkon img {
    width: 15px;
    height: 15px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc; /* Tynn grå linje */
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
    text-align: left; /* Venstrejustering av tekst */
}

.content img {
    max-width: 100%; /* Full bredde */
    height: auto;
    margin-bottom: 20px;
    cursor: pointer; /* Endre musepekeren til en peker */
}

.content img.fullSize {
    max-width: none;
    width: auto;
    height: auto;
}

p {
    color: brown;
    font-size: 1.2em;
    line-height: 1.4;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

#closeButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#closeButton:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 1em;
    }
}
