body {
    font-family: monospace;
    background-color: #f4f4f4;
    overflow: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex; /* Legg til flex container */
    flex-direction: column; /* Plasser elementene i kolonner */
    align-items: center; /* Sentrer elementene horisontalt */
}

.hjemIkon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hjemIkon img {
    width: 15px;
    height: 15px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px; /* Legg til toppmargen for å skille bildet og teksten */
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    color: brown;
    font-size: 1.2em;
    line-height: 1.4;
    text-align: left;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

#closeButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#closeButton:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}
