body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: #fdfdfd;
   
}

ul {
    list-style: none;
    background: #f2f2f2;
    padding: 0;
}

ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 14% 20px;
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: auto;
    background: #f2f2f2;
    position: absolute;
    z-index: 1000;
    display: none;
    font-size: 12px;
    text-align: left;
}

ul li a:hover {
    background: #e5e5e5;
}

ul li:hover ul.dropdown {
    display: block;
}

/* Tekst over bildet på menysiden */
.imageTextMeny {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    
}

.image-container {
    text-align: center; 
    margin-top: 11px; 
    position: relative;
    
}

.image-container img {
    width: 100%; 
    height: auto;
    z-index: -1; 
}

@media screen and (max-width: 600px) {
    .tekstfeltIndex {
        padding: auto; 
    }

    h1 {
        font-size: medium; 
    }

    .imageTextMeny {
        font-size: 0.6em;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        top: 50%;
       
    }

    ul li ul.dropdown {
        background: #e1e1e1;
        z-index: 1000;

    }

}

