body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: #e7e6e6;
   
}

header {
    margin: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

ul {
    list-style: none;
    background: #b5b5b5;
    margin-top: 10px;
    border-radius: 10px;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 15px 25px;
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    transition: background-color 0.4s ease;
}

ul li ul.dropdown li {
    display: block;
    text-align: left;
}

ul li ul.dropdown {
    width: auto;
    background: #b5b5b5;
    position: absolute;
    z-index: 1000;
    display: none;
    font-size: 12px;
    text-align: left;
    top: 25px; 
    left: 0; 
}

ul li a:hover {
    background: #cecece;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

ul li:hover ul.dropdown {
    display: block;
}

input {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: auto;
}

button,
sertButton {
    background-color: #b9b9b9;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.5s, color 0.5s;
}
button:hover,
sertButton:hover {
    background-color: #2ba133;
}

#deleteUserButton {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
}

#deleteUserButton:hover {
    background-color: #860000;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    float: lcenter; 
    background-color: #d7d7d7;
    border: 1px solid #ddd;
    border-radius: 5px; 
    margin-top: 0.5em;
}

@media screen and (max-width: 600px) {
    .imageTextMeny {
        font-size: 0.8em;
        padding: 10px;
    }

    ul li ul.dropdown {
        background: #e1e1e1;
        z-index: 1000;
        font-size: 12px;
    }

    .container {
        max-width: 100%; /
        
    }
}
